@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 20px;
  font-family: "Poppins", sans-serif;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
}

.border-blue {
  border: 1px dotted blue;
}

.card {
  width: 430px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #023047;
  background: #8ecae6;
  border-bottom: 6px solid #219ebc;
  border-radius: 10px;
}

.avatar {
  width: 180px;
  border-radius: 10px;
  border: 1px solid #023047;
}

.avatar:hover {
  box-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

#info-name {
  margin: 30px 0 2px 0;
}
#info-role {
  margin: 2px 0 0 0;
}
#info-loc {
  margin: 2px 0 0 0;
}

.info:hover {
  color: #fefae0;
  background: #023047;
  border-radius: 7px;
}

.btn-github {
  padding: 5px 22px;
  border-radius: 7px;
  border-style: none;
  font-family: "Poppins";
  font-weight: 300px;
  margin-top: 10px;
}

.btn-github a {
  text-decoration: none;
  color: inherit;
}

.btn-github:hover {
  background-color: #023047;
  color: #fefae0;
}
